{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Tableau de bord{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
	<link rel="stylesheet" href="{% static 'css/liste.css' %}">
</head>
<body>

    <div class="container">
        {% include 'admin/partials/sidebar.html' %}

        <main class="main-content">
            {% include 'admin/partials/topbar.html' %}
            
            <div class="content">
                {% block content %}
                {% endblock %}
            </div>
        </main>
    </div>
	<script>
		var csrfToken = '{{ csrf_token }}'; 
	</script>	
	<script src="{% static 'js/main.js' %}"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const avatar = document.getElementById('userAvatar');
            const menu = document.getElementById('dropdownMenu');

            avatar.addEventListener('click', function () {
                menu.style.display = menu.style.display === 'block' ? 'none' : 'block';
            });

            document.addEventListener('click', function (e) {
                if (!avatar.contains(e.target) && !menu.contains(e.target)) {
                    menu.style.display = 'none';
                }
            });
        });
    </script>
</body>
</html>
